h1 {
    text-align: center;
    font-size: 1.75em;
}
.title-text {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 700;
}

.navbar-toggler {
    background-color: white;
    border-color: white;
}

#NAV {
    color: white;
}

@media only screen and (min-width: 992px) {

    body {
        margin: 50px;
    }

    .container-1 {
        display: inline-flex;
        margin: 0% 5% 0% 5%;
    }

    #two {
        margin-left: 55px;
    }

    #three {
        margin-left: 55px;
    }

    .menu-item {
        width: 30%;
        background-color: grey;
        border: 3px solid black;
        padding: 0;
    }

    .menu-text {
        margin-top: 50px;
        margin-left: 10px;
    }

    #menu-title-1 {
        background-color: pink;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-2 {
        background-color: red;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-3 {
        background-color: yellow;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .container-1 {
        margin: 0% 5% 0% 5%;
    }
    
    body {
        margin: 0px 25px 0px 25px;
    }


    #two {
        position: relative;
        float: right;
    }

    #three {
        margin-top: 2%;
        width: 99.5%;
    }

    .menu-item {
        width: 48%;
        background-color: grey;
        border: 3px solid black;
        padding: 0;
        position: relative;
        float: left;
    }

    .menu-text {
        margin-top: 50px;
        margin-left: 10px;
    }

    #menu-title-1 {
        background-color: pink;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-2 {
        background-color: red;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-3 {
        background-color: yellow;
        width: 13%;
        height: 25px;
        float: right;
        border: 1px solid black;
    } 
}

@media only screen and (max-width: 767px){

    .container-1 {
        margin: 0% 5% 0% 5%;
    }
    
    body {
        margin: 0px 25px 0px 25px;
    }
    
    #two {
        margin-top: 25px;
    }

    #three {
        margin-top: 25px;
    }

    .menu-item {
        width: 100%;
        background-color: grey;
        border: 3px solid black;
        padding: 0;
    }

    .menu-text {
        margin-top: 50px;
        margin-left: 10px;
    }

    #menu-title-1 {
        background-color: pink;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-2 {
        background-color: red;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    }

    #menu-title-3 {
        background-color: yellow;
        width: 25%;
        height: 25px;
        float: right;
        border: 1px solid black;
    } 
}